<div class="footer-content bg-white">
    <article>
        <i class="fas fa-credit-card ml-azul"></i>
        <h3>Pagá con tarjeta de crédito</h3>
        <p>
            Con MercadoLiebreCash tenés cuotas si interés con tarjeta o efectivo
            en puntos de pago. ¡Y siempre es seguro!
        </p>
    </article>
    <article>
        <i class="fas fa-gift ml-azul"></i>
        <h3>Envío gratis desde los $2.500</h3>
        <p>
            Sólo por estar registrad@ en MercadoLiebre tenés envíos gratis en
            miles de productos. Es un beneficio de MercadoPuntos.
        </p>
    </article>
    <article>
        <i class="fas fa-user-shield ml-azul"></i>
        <h3>Seguridad de principio a fin</h3>
        <p>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
            hacer porque estás siempre protegid@.
        </p>
    </article>
</div>
<div id="copyright" class="bg-white">
    <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
</div>
