<div class="header-top">
    <a class="logo" href="/"
        ><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"
    /></a>
    <form class="search" action="#">
        <input
            type="search"
            name="busqueda"
            placeholder="Buscar productos, marcas y más"
        />
        <i class="fas fa-search"></i>
    </form>
</div>
<p>
    <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de
    crédito!
</p>
<div class="menu-btn">
    <i class="fas fa-bars"></i>
</div>
<nav>
    <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
    <ul>
        <li>
            <a href="register">Creá tu cuenta <i class="far fa-id-card"></i></a>
        </li>
        <li>
            <a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li>
            <a href="#">Mis compras <i class="fas fa-shopping-bag"></i></a>
        </li>
    </ul>
</nav>
