<div class="header-top">
    <a class="logo" href="/"
        ><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"
    /></a>
    <form class="search" action="/search" method="GET">
        <input
            type="search"
            name="busqueda"
            placeholder="Buscar productos, marcas y más"
        />
        <i class="fas fa-search"></i>
    </form>
</div>
<p>
    <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de
    crédito!
</p>

<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="#">Ofertas</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Tiendas Oficiales</a></li>
                <li class="nav-item"><a class="nav-link active" href="/products/create">Vender</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <% if (!user) { %>

                    <a class="nav-link active" href="/auth/register"
                        ><i class="far fa-id-card"></i> Creá tu cuenta</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/auth/login"
                        ><i class="fas fa-sign-in-alt"></i> Ingresá</a
                    >
                </li>

                <% } else { %>
                <li class="class="nav-item welcome-message">
                    <i class="nav-link active fas fa-user"></i> ¡Bienvenido, <%= user ?
                    user.name : "invitado" %>!
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"
                        ><i class="fas fa-shopping-bag"></i> Mis compras</a
                    >
                </li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link active" href="/auth/logout"
                        ><i class="fas fa-sign-out-alt"></i> Salir</a
                    >
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
