<article class="bg-white">
    <img src="/images/products/<%- product.image %>" alt="Cafetera Moulinex" />
    <div class="product-info">
        <div class="align-right">
            <i class="fas fa-truck ml-verde"></i>
        </div>
        <p class="price">$<%- product.price %></p>
        <p class="discount"><%- product.discount %>% Off</p>
        <h3 class="description"><%- product.name %></h3>
    </div>
</article>
