<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <title>Mercado Liebre</title>
    </head>

    <body>
        <header>
            <div class="header-top">
                <img
                    class="logo"
                    src="/images/logo-mercado-liebre.svg"
                    alt="Logo Mercado Liebre"
                />
                <form class="search" action="#">
                    <input
                        type="search"
                        name="busqueda"
                        placeholder="Buscar productos, marcas y más"
                    />
                    <i class="fas fa-search"></i>
                </form>
            </div>
            <p>
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
                tarjeta de crédito!
            </p>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li>
                        <a href="register"
                            >Creá tu cuenta <i class="far fa-id-card"></i
                        ></a>
                    </li>
                    <li>
                        <a href="login"
                            >Ingresá <i class="fas fa-sign-in-alt"></i
                        ></a>
                    </li>
                    <li>
                        <a href="#"
                            >Mis compras <i class="fas fa-shopping-bag"></i
                        ></a>
                    </li>
                </ul>
            </nav>
        </header>

        <section class="banner">
            <img
                src="/images/img-home-banner.jpg"
                alt="Banner Mercado Liebre"
            />
        </section>

        <main>
            <h2 class="title">Basado en tu última visita</h2>
            <section class="last-visit">
                <article class="bg-white">
                    <img
                        src="/images/img-cafetera-moulinex.jpg"
                        alt="Cafetera Moulinex"
                    />
                    <div class="product-info">
                        <div class="align-right">
                            <i class="fas fa-truck ml-verde"></i>
                        </div>
                        <p class="price">$6.770</p>
                        <p class="discount">40% Off</p>
                        <h3 class="description">
                            Cafetera Moulinex Dolce Gusto Lorem Ipsum, dolor sit
                            amet.
                        </h3>
                    </div>
                </article>

                <article class="bg-white">
                    <img
                        src="/images/img-macbook-pro-2019.jpg"
                        alt="Macbook Pro 2019"
                    />
                    <div class="product-info">
                        <div class="align-right">
                            <i class="fas fa-truck ml-verde"></i>
                        </div>
                        <p class="price">$230.000</p>
                        <p class="discount">20% Off</p>
                        <h3 class="description">
                            Macbook Pro 2019 Lorem ipsum, dolor sit amet.
                        </h3>
                    </div>
                </article>

                <article class="bg-white">
                    <img
                        src="/images/img-samsung-galaxy-s10.jpg"
                        alt="Samsung Galaxy S10"
                    />
                    <div class="product-info">
                        <div class="align-right">
                            <i class="fas fa-truck ml-verde"></i>
                        </div>
                        <p class="price">$70.500</p>
                        <p class="discount">15% Off</p>
                        <h3 class="description">
                            Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor
                            sit amet.
                        </h3>
                    </div>
                </article>

                <article class="bg-white">
                    <img
                        src="/images/img-tv-samsung-smart.jpg"
                        alt="TV Samsung Smart"
                    />
                    <div class="product-info">
                        <div class="align-right">
                            <i class="fas fa-truck ml-verde"></i>
                        </div>
                        <p class="price">$34.000</p>
                        <p class="discount">5% Off</p>
                    </div>
                    <h3 class="description">
                        Smart TV Samsung 43", Lorem Ipsum, dolor sit amet.
                    </h3>
                </article>
            </section>

            <h2 class="title">Ofertas</h2>
            <section class="offer">
                <article class="product bg-white">
                    <img
                        src="/images/img-cafetera-moulinex.jpg"
                        alt="Cafetera Moulinex"
                    />
                    <div class="product-info">
                        <div class="align-right">
                            <i class="fas fa-truck ml-verde"></i>
                        </div>
                        <p class="price">$6.770</p>
                        <p class="discount">40% Off</p>
                        <h3 class="description">
                            Cafetera Moulinex Dolce Gusto Lorem Ipsum, dolor sit
                            amet.
                        </h3>
                    </div>
                </article>

                <article class="bg-white">
                    <img
                        src="/images/img-macbook-pro-2019.jpg"
                        alt="Macbook Pro 2019"
                    />
                    <div class="product-info">
                        <div class="align-right">
                            <i class="fas fa-truck ml-verde"></i>
                        </div>
                        <p class="price">$230.000</p>
                        <p class="discount">20% Off</p>
                        <h3 class="description">
                            Macbook Pro 2019 Lorem ipsum, dolor sit amet.
                        </h3>
                    </div>
                </article>

                <article class="bg-white">
                    <img
                        src="/images/img-samsung-galaxy-s10.jpg"
                        alt="Samsung Galaxy S10"
                    />
                    <div class="product-info">
                        <div class="align-right">
                            <i class="fas fa-truck ml-verde"></i>
                        </div>
                        <p class="price">$70.500</p>
                        <p class="discount">15% Off</p>
                        <h3 class="description">
                            Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor
                            sit amet.
                        </h3>
                    </div>
                </article>

                <article class="bg-white">
                    <img
                        src="/images/img-tv-samsung-smart.jpg"
                        alt="TV Samsung Smart"
                    />
                    <div class="product-info">
                        <div class="align-right">
                            <i class="fas fa-truck ml-verde"></i>
                        </div>
                        <p class="price">$34.000</p>
                        <p class="discount">5% Off</p>
                        <h3 class="description">
                            Smart TV Samsung 43", Lorem Ipsum, dolor sit amet.
                        </h3>
                    </div>
                </article>
            </section>
        </main>

        <footer>
            <div class="footer-content bg-white">
                <article>
                    <i class="fas fa-credit-card ml-azul"></i>
                    <h3>Pagá con tarjeta de crédito</h3>
                    <p>
                        Con MercadoLiebreCash tenés cuotas si interés con
                        tarjeta o efectivo en puntos de pago. ¡Y siempre es
                        seguro!
                    </p>
                </article>
                <article>
                    <i class="fas fa-gift ml-azul"></i>
                    <h3>Envío gratis desde los $2.500</h3>
                    <p>
                        Sólo por estar registrad@ en MercadoLiebre tenés envíos
                        gratis en miles de productos. Es un beneficio de
                        MercadoPuntos.
                    </p>
                </article>
                <article>
                    <i class="fas fa-user-shield ml-azul"></i>
                    <h3>Seguridad de principio a fin</h3>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada
                        que no puedas hacer porque estás siempre protegid@.
                    </p>
                </article>
            </div>
            <div id="copyright" class="bg-white">
                <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
            </div>
        </footer>
    </body>
</html>
