<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head-base.ejs', {title: 'Crear producto'}) %>
        <link rel="stylesheet" href="/css/product-detail.css" />
    </head>

    <body>
        <header><%- include('partials/header.ejs') %></header>

        <main>
            <h2 class="title">Crear producto</h2>

            <form action="/products" method="post">
                <label for="product-name">Nombre de producto</label>
                <input type="text" name="product-name" />
                <label for="product-description">Descripción</label>
                <input type="text" name="product-description" />
                <label for="product-price">Precio del producto</label>
                <input type="number" name="product-price" />
                <label for="product-img">Foto de producto</label>
                <input type="file" name="product-img" />Imagen del producto
                <button type="submit" class="submit">Enviar</button>
            </form>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
