/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ebebeb;
}

header {
    background-color: #eac926;
}

header p {
    text-align: center;
}

.logo {
    width: 45%;
    margin: 0 3%;
}

.search {
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 3%;
}

.fa-search {
    color: gray;
    position: relative;
    right: 30px;
}

.banner img {
    width: 100%;
    display: block;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    text-align: center;
}

.menu-btn .fa-bars {
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: #0044aa;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
}

.menu-btn .fa-bars:hover {
    background-color: #0022aa;
    cursor: pointer;
}

i {
    margin: 5px;
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

main {
    width: 90%;
    margin: auto;
}

main h2 {
    margin: 20px 0px;
    text-align: center;
}

article {
    padding: 15px;
    margin: 15px 5px;
}

article img {
    width: 100%;
    display: block;
}

.last-visit article:hover,
.offer article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.bg-white {
    background-color: white;
}

.product-info {
    border-top: 1px solid #ebebeb;
}

p {
    font-size: 12px;
}

.title {
    font-size: 24px;
    text-align: left;
    margin-left: 2%;
    color: gray;
    font-weight: 500;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    font-size: 16px;
    width: 70%;
    color: #39b54a;
}

.description {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    display: none;
}

.last-visit article:hover .description,
.offer article:hover .description {
    display: block;
}

.ml-verde {
    color: #39b54a;
    background-color: white;
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
}

article:hover .ml-verde {
    transform: rotate(360deg);
    transition: transform 2s;
}

.ml-verde:hover {
    transform: rotate(360deg);
    transition: transform 2s;
}

.ml-azul {
    color: #1065be;
    font-size: 25px;
    margin: 10px;
}

footer {
    padding: 20px 0%;
}

footer p,
footer h3 {
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer article {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#copyright p {
    text-align: left;
}

.hidden {
    display: none;
}

.align-right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 20px;
    top: -18px;
}

/* Login y Register */

form input,
form button {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-profile input {
    width: 10%;
}

.user-interests {
    display: flex;
    flex-direction: column;
}

.user-info input[type="checkbox"] {
    width: 10%;
}

.submit {
    color: #ffffff;
    background-color: #0044aa;
}

.submit:hover {
    background-color: #0022aa;
}

.reset {
    color: white;
    background-color: #aa0044;
}

.reset:hover {
    background-color: #cc1155;
}

/* Media queries */

@media (min-width: 361px) {
    .last-visit,
    .offer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo {
        width: 160px;
    }

    article {
        width: 47%;
    }
}

@media (min-width: 768px) {
    .user-info,
    .user-login {
        padding: 0 25%;
    }
}

@media (min-width: 769px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    article {
        width: 23%;
    }

    .search {
        width: 60%;
    }

    .header-top {
        width: 70%;
    }

    header p {
        width: 30%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0;
    }

    nav ul {
        display: flex;
        margin: 0 15px;
    }

    nav li {
        margin: 0 10px;
        font-size: 15px;
    }

    .menu-btn {
        display: none;
    }

    .footer-content {
        flex-direction: row;
        justify-content: center;
    }

    footer article {
        width: 33%;
    }
}

@media (min-width: 1440px) {
    header,
    .footer-content {
        padding: 0 10%;
    }
}
