* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Home y estilos generales */

body {
  background-color: #ebebeb;
}

header {
  background-color: #eac926;
}

.logo {
  width: 50%;
}

.banner img {
  width: 100%;
  display: block;
}

.search {
  width: 50%;
}

.menu-btn {
  text-align: center;
}

.menu-btn .fa-bars {
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: #0044aa;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px;
}

.menu-btn .fa-bars:hover {
  background-color: #0022aa;
  cursor: pointer;
}

nav {
  display: none;
}

nav > ul {
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

main {
  width: 90%;
  margin: auto;
}

main h2 {
  margin: 20px 0px;
  text-align: center;
}

article {
  padding: 15px;
  /* Agrega distancia entre los articulos arriba y abajo (no costados) */
  margin: 20px 0px;
}

article img {
  width: 100%;
  display: block;
}

.bg-white {
  background-color: white;
}

p {
  font-size: 12px;
}

.title {
  font-size: 24px;
}

.price {
  font-size: 18px;
}

.discount {
  font-size: 16px;
  color: #39b54a;
}

.description {
  font-size: 16px;
}

.ml-verde {
  color: #39b54a;
}

.ml-azul {
  color: #03264c;
}

footer {
  padding: 20px 5%;
}

footer article {
  margin: 20px 0px;
}

.hidden {
  display: none;
}

/* Login y Register */

form input,
form button {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  border: 0px;
}

.submit {
  color: #ffffff;
  background-color: #0044aa;
}

.submit:hover {
  background-color: #0022aa;
}

.reset {
  color: white;
  background-color: #aa0044;
}

.reset:hover {
  background-color: #cc1155;
}
